body{
	color: gray;
	font-family: 'Trebuchet MS';
	font-size:28px;
}

.speech-bubble {
	width: 600px;
	padding: 10px;
	margin: 38px 48px;
	text-align: center;
	background-color: #424242;
	color: white;
	position: relative;
	border-radius: .5em;
}

.speech-bubble:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 83%;
	width: 0;
	height: 0;
	border: 20px solid transparent;
	border-top-color: #424242;
	border-bottom: 0;
	margin-left: -0px;
	margin-bottom: -20px;
}

.box-color {
	float:left;
	position: absolute;
	width: 450px;
	height: 24px;
	padding: 0px;
	margin: 0px 0px 0px 48px;
	border: 2px #DCDCDC solid;
	border-right: none;
	background-color: #EF5F3C;
}

.box-white {
	float:right;
	width: 170px;
	height: 24px;
	padding: 0px;
	margin: 0px;
	border: 2px #DCDCDC solid;
	border-left: none;
	background-color: #FFFFFF;	
}

.container-1 {
	width: 672px;

}
.container-2 {
	width: 580px;
	padding: 20px;
	padding-bottom: 40px;
	margin: 38px 48px;
	border: 2px #DCDCDC solid;
	box-shadow: 0px 2px 2px #DCDCDC;
}

.box-2 {
	padding: 10px 30px 30px 30px;
	line-height: 1.5em;
}

.my-form input{

	width: 220px;
	font-size: 36px;
	border-radius: .2em;
	border: 2px #DCDCDC solid;
	box-shadow: 0px 2px 2px #DCDCDC;
	margin: 20px 0px 0px 0px;
}

.my-form input[type="text"] {
	float: left;
	height: 95px;
	color: #000000;
	margin-right: 10px;
}

.my-form input[type="submit"] {
	height: 100px;
	color: #FFFFFF;
	background-color: #1CBC2C;
	margin-left: 60px;
}

.button-2 {
	color: gray;
	font-family: 'Trebuchet MS';
	font-size:28px;
	float: left;
	height: 75px;
	width: 287px;
	font-weight: bold;
	margin: 20px 0px 0px 48px;
	background-color: white;
	border: 2px #DCDCDC solid;
	box-shadow: 0px 2px 2px #DCDCDC;
	border-radius: .2em;
}

.label-1 {
	float: top;
	color: #20A1D4;
	font-style: italic;
	padding-top: 20px;
	padding-left: 30px;
}